/* You can add global styles to this file, and also import other style files */

body {
    background-color: #261a2b;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}
