<div class="details">
    <div class="details-image">
        <img src="{{ drinkDetails.strDrinkThumb }}" alt="">
    </div>
    <div class="details-list">
        <h2 class="details-name">{{ drinkDetails.strDrink }}</h2>
        <p>Category: {{ drinkDetails.strCategory }}</p>
        <p>Alcoholic: {{ drinkDetails.strAlcoholic }}</p>
        <p>Glass: {{ drinkDetails.strGlass }}</p>
        <p>Creative Commons Confirmed: {{ drinkDetails.strCreativeCommonsConfirmed }}</p>
        <div>
            {{ drinkDetails.strInstructions }}
        </div>
    </div>

    
</div>

